<!DOCTYPE html>
<html lang="en">

<head>
		<title>Flat Able - Premium Admin Template by Phoenixcoded</title>
		<!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Phoenixcoded">
    <meta name="keywords" content=", Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="Phoenixcoded">

		<!-- Favicon icon -->
      <link rel="icon" href="{{baseURL}}/assets/flatable/images/favicon.ico" type="image/x-icon">
      <!-- Google font-->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
      <!-- Required Fremwork -->
      <link rel="stylesheet" type="text/css" href="{{baseURL}}/assets/flatable/bower_components/bootstrap/dist/css/bootstrap.min.css">
      <!-- themify icon -->
      <link rel="stylesheet" type="text/css" href="{{baseURL}}/assets/flatable/icon/themify-icons/themify-icons.css">
			<!-- Font Awesome -->
    	<link rel="stylesheet" type="text/css" href="{{baseURL}}/assets/flatable/icon/font-awesome/css/font-awesome.min.css">
      <!-- ico font -->
      <link rel="stylesheet" type="text/css" href="{{baseURL}}/assets/flatable/icon/icofont/css/icofont.css">
      <!-- flag icon framework css -->
      <link rel="stylesheet" type="text/css" href="{{baseURL}}/assets/flatable/pages/flag-icon/flag-icon.min.css">
      <!-- Menu-Search css -->
      <link rel="stylesheet" type="text/css" href="{{baseURL}}/assets/flatable/pages/menu-search/css/component.css">
      <!-- Horizontal-Timeline css -->
      <link rel="stylesheet" type="text/css" href="{{baseURL}}/assets/flatable/pages/dashboard/horizontal-timeline/css/style.css">
      <!-- amchart css -->
      <link rel="stylesheet" type="text/css" href="{{baseURL}}/assets/flatable/pages/dashboard/amchart/css/amchart.css">
      <!-- flag icon framework css -->
      <link rel="stylesheet" type="text/css" href="{{baseURL}}/assets/flatable/pages/flag-icon/flag-icon.min.css">
      <!-- Style.css -->
      <link rel="stylesheet" type="text/css" href="{{baseURL}}/assets/flatable/css/style.css">
      <!--color css-->
      <link rel="stylesheet" type="text/css" href="{{baseURL}}/assets/flatable/css/color/color-1.css" id="color" />

      <link rel="stylesheet" type="text/css" href="{{baseURL}}/assets/flatable/css/linearicons.css">
      <link rel="stylesheet" type="text/css" href="{{baseURL}}/assets/flatable/css/simple-line-icons.css">
      <link rel="stylesheet" type="text/css" href="{{baseURL}}/assets/flatable/css/ionicons.css">
      <link rel="stylesheet" type="text/css" href="{{baseURL}}/assets/flatable/css/jquery.mCustomScrollbar.css">

	</head>

  <body>
		<!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div></div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <!-- Menu header start -->
		<div id="pcoded" class="pcoded">
			<div class="pcoded-overlay-box"></div>
			<div class="pcoded-container navbar-wrapper">
				{% include "admin/navbar.html" %}
				{% include "admin/chat.html" %}

				<div class="pcoded-main-container">
					<div class="pcoded-wrapper">
						{% include "admin/sidebar.html" %}
						<div class="pcoded-content">
                <div class="pcoded-inner-content">
									{% block content %} {% endblock %}

								</div>
						</div>
					</div>
				</div>
			</div>
		</div>

			<!-- Required Jqurey -->
			<script type="text/javascript" src="{{baseURL}}/assets/flatable/bower_components/jquery/dist/jquery.min.js"></script>
			<script src="{{baseURL}}/assets/flatable/bower_components/jquery-ui/jquery-ui.min.js"></script>
			<script type="text/javascript" src="{{baseURL}}/assets/flatable/bower_components/tether/dist/js/tether.min.js"></script>
			<script type="text/javascript" src="{{baseURL}}/assets/flatable/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
			<!-- jquery slimscroll js -->
			<script type="text/javascript" src="{{baseURL}}/assets/flatable/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>
			<!-- modernizr js -->
			<script type="text/javascript" src="{{baseURL}}/assets/flatable/bower_components/modernizr/modernizr.js"></script>
			<script type="text/javascript" src="{{baseURL}}/assets/flatable/bower_components/modernizr/feature-detects/css-scrollbars.js"></script>
			<!-- classie js -->
			<script type="text/javascript" src="{{baseURL}}/assets/flatable/bower_components/classie/classie.js"></script>
			<!-- Rickshow Chart js -->
			<script src="{{baseURL}}/assets/flatable/bower_components/d3/d3.js"></script>
			<script src="{{baseURL}}/assets/flatable/bower_components/rickshaw/rickshaw.js"></script>
			<!-- Morris Chart js -->
			<script src="{{baseURL}}/assets/flatable/bower_components/raphael/raphael.min.js"></script>
			<script src="{{baseURL}}/assets/flatable/bower_components/morris.js/morris.js"></script>
			<!-- Horizontal-Timeline js -->
			<script type="text/javascript" src="{{baseURL}}/assets/flatable/pages/dashboard/horizontal-timeline/js/main.js"></script>
			<!-- amchart js -->
			<script type="text/javascript" src="{{baseURL}}/assets/flatable/pages/dashboard/amchart/js/amcharts.js"></script>
			<script type="text/javascript" src="{{baseURL}}/assets/flatable/pages/dashboard/amchart/js/serial.js"></script>
			<script type="text/javascript" src="{{baseURL}}/assets/flatable/pages/dashboard/amchart/js/light.js"></script>
			<script type="text/javascript" src="{{baseURL}}/assets/flatable/pages/dashboard/amchart/js/custom-amchart.js"></script>
			<!-- i18next.min.js -->
			<script type="text/javascript" src="{{baseURL}}/assets/flatable/bower_components/i18next/i18next.min.js"></script>
			<script type="text/javascript" src="{{baseURL}}/assets/flatable/bower_components/i18next-xhr-backend/i18nextXHRBackend.min.js"></script>
			<script type="text/javascript" src="{{baseURL}}/assets/flatable/bower_components/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js"></script>
			<script type="text/javascript" src="{{baseURL}}/assets/flatable/bower_components/jquery-i18next/jquery-i18next.min.js"></script>
			<!-- Custom js -->
			<script type="text/javascript" src="{{baseURL}}/assets/flatable/pages/dashboard/custom-dashboard.js"></script>
			<script type="text/javascript" src="{{baseURL}}/assets/flatable/js/script.js"></script>

			<!-- pcmenu js -->
			<script src="{{baseURL}}/assets/flatable/js/pcoded.min.js"></script>
			<script src="{{baseURL}}/assets/flatable/js/demo-12.js"></script>
			<script src="{{baseURL}}/assets/flatable/js/jquery.mCustomScrollbar.concat.min.js"></script>
			<script src="{{baseURL}}/assets/flatable/js/jquery.mousewheel.min.js"></script>

      <script src="{{baseURL}}/action-js/global-admin.js"></script>

{% if script %}
<script src = "{{script}}"></script>
{% endif %}
</body>

</html>
