<nav class="pcoded-navbar" pcoded-header-position="relative">
            <div class="sidebar_toggle"><a href="index.html#"><i class="icon-close icons"></i></a></div>
            <div class="pcoded-inner-navbar main-menu">

                <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation" menu-title-theme="theme5">Navigation</div>
                <ul class="pcoded-item pcoded-left-item">
                    <li class="">
                        <a href="dashboard" data-i18n="nav.widget.main">
                            <span class="pcoded-micon"><i class="ti-home"></i></span>
                            <span class="pcoded-mtext" >Dashboard</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class="pcoded-hasmenu">
                        <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="ti-layout"></i></span>
                            <span class="pcoded-mtext" data-i18n="nav.page_layout.main">Page layouts</span>
                            <span class="pcoded-badge label label-warning">NEW</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                        <ul class="pcoded-submenu">

                            <li class=" pcoded-hasmenu">
                                <a href="javascript:void(0)">
                                    <span class="pcoded-micon"><i class="icon-pie-chart"></i></span>
                                    <span class="pcoded-mtext">Vertical</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                                <ul class="pcoded-submenu">
                                    <li class=" ">
                                        <a href="menu-static.html" data-i18n="nav.page_layout.vertical.static-layout">
                                            <span class="pcoded-micon"><i class="icon-chart"></i></span>
                                            <span class="pcoded-mtext">Static Layout</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="menu-header-fixed.html" data-i18n="nav.page_layout.vertical.header-fixed">
                                            <span class="pcoded-micon"><i class="icon-chart"></i></span>
                                            <span class="pcoded-mtext">Header Fixed</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="menu-compact.html" data-i18n="nav.page_layout.vertical.compact">
                                            <span class="pcoded-micon"><i class="icon-chart"></i></span>
                                            <span class="pcoded-mtext">Compact</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="menu-sidebar.html" data-i18n="nav.page_layout.vertical.sidebar-fixed">
                                            <span class="pcoded-micon"><i class="icon-chart"></i></span>
                                            <span class="pcoded-mtext">Sidebar Fixed</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class=" pcoded-hasmenu">
                                <a href="javascript:void(0)" data-i18n="nav.page_layout.horizontal.main">
                                    <span class="pcoded-micon"><i class="icon-pie-chart"></i></span>
                                    <span class="pcoded-mtext">Horizontal</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                                <ul class="pcoded-submenu">
                                    <li class=" ">
                                        <a href="menu-horizontal-static.html" target="_blank" data-i18n="nav.page_layout.horizontal.static-layout">
                                            <span class="pcoded-micon"><i class="icon-chart"></i></span>
                                            <span class="pcoded-mtext">Static Layout</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="menu-horizontal-fixed.html" target="_blank" data-i18n="nav.page_layout.horizontal.fixed-layout">
                                            <span class="pcoded-micon"><i class="icon-chart"></i></span>
                                            <span class="pcoded-mtext">Fixed layout</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="menu-horizontal-icon.html" target="_blank" data-i18n="nav.page_layout.horizontal.static-with-icon">
                                            <span class="pcoded-micon"><i class="icon-chart"></i></span>
                                            <span class="pcoded-mtext">Static With Icon</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="menu-horizontal-icon-fixed.html" target="_blank" data-i18n="nav.page_layout.horizontal.fixed-with-icon">
                                            <span class="pcoded-micon"><i class="icon-chart"></i></span>
                                            <span class="pcoded-mtext">Fixed With Icon</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class=" ">
                                <a href="menu-bottom.html" data-i18n="nav.page_layout.bottom-menu">
                                    <span class="pcoded-micon"><i class="icon-pie-chart"></i></span>
                                    <span class="pcoded-mtext">Bottom Menu</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li class=" ">
                                <a href="box-layout.html" target="_blank" data-i18n="nav.page_layout.box-layout">
                                    <span class="pcoded-micon"><i class="icon-pie-chart"></i></span>
                                    <span class="pcoded-mtext">Box Layout</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li class=" ">
                                <a href="menu-rtl.html" target="_blank" data-i18n="nav.page_layout.rtl">
                                    <span class="pcoded-micon"><i class="icon-pie-chart"></i></span>
                                    <span class="pcoded-mtext">RTL</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="pcoded-hasmenu">
                        <a href="javascript:void(0)" data-i18n="nav.navigate.main">
                            <span class="pcoded-micon"><i class="ti-layout-cta-right"></i></span>
                            <span class="pcoded-mtext">Navigation</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                        <ul class="pcoded-submenu">
                            <li class=" ">
                                <a href="navbar-light.html" data-i18n="nav.navigate.navbar">
                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                    <span class="pcoded-mtext">Navbar</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li class=" ">
                                <a href="navbar-dark.html" data-i18n="nav.navigate.navbar-inverse">
                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                    <span class="pcoded-mtext">Navbar Inverse</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li class=" ">
                                <a href="navbar-elements.html" data-i18n="nav.navigate.navbar-with-elements">
                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                    <span class="pcoded-mtext">Navbar With Elements</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu_user" class=" ">
                        <a href="users" data-i18n="nav.widget.main">
                            <span class="pcoded-micon"><i class="ti-user"></i></span>
                            <span class="pcoded-mtext">Users</span>
                            <span class="pcoded-badge label label-danger">100+</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                </ul>

            </div>
        </nav>
