<nav class="pcoded-navbar" pcoded-header-position="relative">
            <div class="sidebar_toggle"><a href="index.html#"><i class="icon-close icons"></i></a></div>
            <div class="pcoded-inner-navbar main-menu">

                <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation" menu-title-theme="theme5">Navigation</div>
                <ul class="pcoded-item pcoded-left-item">
                    <li class="">
                        <a href="dashboard" data-i18n="nav.widget.main">
                            <span class="pcoded-micon"><i class="ti-home"></i></span>
                            <span class="pcoded-mtext" >Dashboard</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    {% if role == 100 %}
                    <li id="menu_data_parent" class="pcoded-hasmenu">
                        <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="ti-folder"></i></span>
                            <span class="pcoded-mtext" data-i18n="nav.page_layout.main">Data</span>
                            <!-- <span class="pcoded-badge label label-warning">NEW</span> -->
                            <span class="pcoded-mcaret"></span>
                        </a>
                        <ul class="pcoded-submenu">

                            <li  id="menu_pelaksana" class=" ">
                                <a href="pelaksana" data-i18n="nav.page_layout.bottom-menu">
                                    <span class="pcoded-micon"><i class="icon-pie-chart"></i></span>
                                    <span class="pcoded-mtext">Pelaksana</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li  id="menu_komponen" class=" ">
                                <a href="komponen" data-i18n="nav.page_layout.bottom-menu">
                                    <span class="pcoded-micon"><i class="icon-pie-chart"></i></span>
                                    <span class="pcoded-mtext">Komponen</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li id="menu_program" class=" ">
                                <a href="program" data-i18n="nav.page_layout.box-layout">
                                    <span class="pcoded-micon"><i class="icon-pie-chart"></i></span>
                                    <span class="pcoded-mtext">Program</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li id="menu_kegiatan" class=" ">
                                <a href="kegiatan" data-i18n="nav.page_layout.rtl">
                                    <span class="pcoded-micon"><i class="icon-pie-chart"></i></span>
                                    <span class="pcoded-mtext">Kegiatan</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    {% endif %}
                    <li id="menu_data" class="">
                        <a href="data" data-i18n="nav.widget.main">
                            <span class="pcoded-micon"><i class="ti-folder"></i></span>
                            <span class="pcoded-mtext" >Data Input</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li id="menu_jadwal" class="" hidden>
                        <a href="jadwal" data-i18n="nav.widget.main">
                            <span class="pcoded-micon"><i class="ti-calendar"></i></span>
                            <span class="pcoded-mtext" >Input Jadwal</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li id="menu_budget" class="">
                        <a href="budget" data-i18n="nav.widget.main">
                            <span class="pcoded-micon"><i class="ti-agenda"></i></span>
                            <span class="pcoded-mtext" >Budget dan Realisasi</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li id="menu_summary" class="">
                        <a href="summary" data-i18n="nav.widget.main">
                            <span class="pcoded-micon"><i class="ti-write"></i></span>
                            <span class="pcoded-mtext" >Summary of Statement</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li id="menu_monev" class="">
                        <a href="monev" data-i18n="nav.widget.main">
                            <span class="pcoded-micon"><i class="ti-receipt"></i></span>
                            <span class="pcoded-mtext" >Monev Output</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li id="menu_monev_kontrol" class="">
                        <a href="monevkontrol" data-i18n="nav.widget.main">
                            <span class="pcoded-micon"><i class="ti-layout-media-right"></i></span>
                            <span class="pcoded-mtext" >Monev Kontrol</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li id="menu_monev_user" class="">
                        <a href="monev?param=1" data-i18n="nav.widget.main">
                            <span class="pcoded-micon"><i class="ti-receipt"></i></span>
                            <span class="pcoded-mtext" >Monev Output for User</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li id="menu_pelelangan" class="">
                        <a href="pelelangan" data-i18n="nav.widget.main">
                            <span class="pcoded-micon"><i class="ti-layout-list-post"></i></span>
                            <span class="pcoded-mtext" >Pelelangan</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>

                        <li id="menu_module_rc" class="pcoded-hasmenu">
                            <a href="javascript:void(0)">
                                <span class="pcoded-micon"><i class="ti-layout-cta-center"></i></span>
                                <span class="pcoded-mtext">Module RC</span>
                                <span class="pcoded-mcaret"></span>
                            </a>
                            <ul class="pcoded-submenu">
                                <li class="" id="menu_informasi_lahan">
                                    <a href="lahan">
                                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                        <span class="pcoded-mtext">Informasi lahan</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                
                            </ul>
                        </li>
                    
                    
                    <!-- <li class="pcoded-hasmenu">
                        <a href="javascript:void(0)" data-i18n="nav.navigate.main">
                            <span class="pcoded-micon"><i class="ti-layout-cta-right"></i></span>
                            <span class="pcoded-mtext">Navigation</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                        <ul class="pcoded-submenu">
                            <li class=" ">
                                <a href="navbar-light.html" data-i18n="nav.navigate.navbar">
                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                    <span class="pcoded-mtext">Navbar</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li class=" ">
                                <a href="navbar-dark.html" data-i18n="nav.navigate.navbar-inverse">
                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                    <span class="pcoded-mtext">Navbar Inverse</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li class=" ">
                                <a href="navbar-elements.html" data-i18n="nav.navigate.navbar-with-elements">
                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                    <span class="pcoded-mtext">Navbar With Elements</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                        </ul>
                    </li> -->
                    <li id="menu_user" class=" ">
                        <a href="users" data-i18n="nav.widget.main">
                            <span class="pcoded-micon"><i class="ti-user"></i></span>
                            <span class="pcoded-mtext">Users</span>
                            <span class="pcoded-badge label label-danger">100+</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                </ul>

            </div>
        </nav>
