{% extends "admin/layout.html" %} {% block content %}

<div class="main-body">
        <div class="page-wrapper">
            <!-- Page-header start -->
            <div class="page-header">
              <input hidden id="userid" value="{{userid}}">
              <input hidden id="role" value="{{role}}">
                <div class="page-header-title">
                    <h4>MONEV OUTPUT ISWMP</h4>
                    <!-- <span>Easy to customise core stylesheets</span> -->
                </div>
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="{{baseURL}}">
                                <i class="icofont icofont-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Monev Output</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Page-header end -->
            <!-- Page-body start -->
            <div class="page-body">
                <!-- Base style - Hover table start -->
                <div class="card">
                    <div class="card-header" style="padding-top:2.5rem;">
                        <!-- <h5>Base style - hover</h5> -->
                        <!-- <span>This example shows DataTables with just the hover class specified. This class will instruct DataTables' styling to highlight a row when the mouse is hovered over it.</span> -->
                        <div class="row">
                            <div class="col-sm-4">
                                <!-- <input id="pilih-bulan" data-dd-hide-day="true" name="dropper-default" class="form-control form-control-center" type="text" placeholder="Select your date" /> -->
                                <div class="form-group row" hidden>
                                    <label class="col-sm-6 col-form-label">Pilih Triwulan Box</label>
                                    <div class="col-sm-6">
                                        <select id="pilih-bulan" name="select" class="form-control">
                                            <option value="opt1">Pilih</option>
                                            <option value="opt2">Triwulan 1</option>
                                            <option value="opt3">Triwulan 2</option>
                                            <option value="opt4">Triwulan 3</option>
                                            <option value="opt5">Triwulan 4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                            </div>
                            <div class="col-sm-4 ">
                                <button id="btn-tambah" class="btn btn-primary pull-right" data-toggle="modal" data-target="#sign-in-modal" data-backdrop="static"><i class="icofont icofont icofont-ui-add"></i>Tambah</button>
                            </div>
                        
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="dt-responsive table-responsive">
                            <!-- <input type="hidden" id="is_open" value="{{isOpen}}"> -->
                            <table id="all-monev" class="table table-hover table-bordered" style="font-size:12px;width: 100%;" cellspacing="0">
                                <thead>
                                    <tr class="bg-inverse">
                                        <th><center>No</center></th>
                                        <th><center>No Aspek</center></th>
                                        <th><center>Aspek</center></th>
                                        <th><center>Indikator</center></th>
                                        <th><center>Parameter</center></th>
                                        <th><center>Bobot</center></th>
                                        <th><center>Nilai</center></th>
                                        <th><center>Keterangan</center></th>
                                        <th><center>Sumber</center></th>
                                        <th><center>Tahun</center></th>
                                        <th><center>###</center></th>
                                        {% if isOpen != 1 %}
                                        <th><center>###########</center></th>
                                        {% endif %}
                                    </tr>
                                    
                                </thead>
                                
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Base style - Hover table end -->
            </div>
            <!-- Page-body end -->
        </div>
    </div>
    <div id="styleSelector">

    </div>


    <!-- Sign in modal start -->
    <div class="modal fade" id="sign-in-modal" name="in-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title">Form Input Aspek</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-b-0">
                    <div class="card-block">
                        <h4 class="sub-title"><b>Aspek</b></h4>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <select id="pilih-aspek" name="select" class="form-control">
                                    <option value="0">Pilih</option>
                                    <option value="1">Peraturan</option>
                                    <option value="2">Kelembagaan</option>
                                    <option value="3">Pendanaan/Pembiayaan</option>
                                    <option value="4">Teknis/Prasarana and </option>
                                    <option value="5">Masyarakat dan Pemangku Kepentingan</option>
                                </select>
                            </div>
                            
                        </div>
                    </div>
                
                    <div class="card-block">
                        <h4 class="sub-title"><b>Indikator</b></h4>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <select id="pilih-indikator" name="select" class="form-control">
                                    
                                </select>
                            </div>
                        </div>
                    </div>
                
                    <div class="card-block">
                        <h4 class="sub-title"><b>Parameter</b></h4>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <select id="pilih-parameter" name="select" class="form-control">
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-block">
                        <div class="form-group row">
                            <label name="komponen_1" class="col-sm-2 col-form-label">Keterangan</label>
                            <div class="col-sm-10">
                                <input name="keterangan" type="text" class="form-control" placeholder="Keterangan" id="keterangan">
                            </div>
                            
                        </div>
                        <div class="form-group row">
                            <label name="komponen_1" class="col-sm-2 col-form-label">Sumber Data</label>
                            <div class="col-sm-2">
                                <input name="keterangan" type="text" class="form-control" placeholder="Sumber Data" id="sumber_data">
                            </div>
                            <div class="col-sm-8">
                                <input name="keterangan" type="text" class="form-control" placeholder="Url" id="url">
                            </div>
                            
                        </div>
                        <div class="form-group row">
                            <label name="komponen_1" class="col-sm-2 col-form-label">Tahun Data</label>
                            <div class="col-sm-10">
                                <input name="keterangan" type="text" class="form-control" placeholder="Tahun Data" id="tahun">
                            </div>
                            
                        </div>

                        <div class="form-group row">
                            <label name="komponen_1" class="col-sm-2 col-form-label">Catatan</label>
                            <div class="col-sm-10">
                                <input name="keterangan" type="text" class="form-control" placeholder="Keterangan Lain" id="catatan">
                            </div>
                            
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="ti-close"></i> Batal </button>
                    <button type="button" class="btn btn-primary" id="save-aspek"><i class="ti-check-box"></i> Simpan </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign in modal end -->

<div id="modal_user" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Program</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
					<!-- #section:elements.form -->
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="user_name"> Username </label>

						<div class="col-sm-9">
							<input type="text" id="user_name" placeholder="username" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="user_fullname"> Fullname </label>

						<div class="col-sm-9">
							<input type="text" id="user_fullname" placeholder="Full Name" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="user_fullname"> NIP </label>

						<div class="col-sm-9">
							<input type="text" id="user_nip" placeholder="NIP" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="user_role"> Role Level </label>

						<div class="col-sm-9">
						  	<select class="chosen-select form-control" id="user_role" data-placeholder="select role...">
						  		<option value="">  </option>
						  		<option value="10">admin</option>
						  		<option value="20">operator</option>
						  		<option value="30">ppk</option>
						  		<option value="40">pptk</option>

						  	</select>
						</div>
					</div>

				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal"><i class="ace-icon fa fa-close"></i>close</button>
        <button type="button" class="btn btn-xs btn-success" data-dismiss="modal"  ><i class="ace-icon fa fa-check"></i>submit</button>
      </div>
    </div>

  </div>
</div>

<!-- <script src="{{baseURL}}/assets/action-js/admin/datapengaduan.js"></script> -->
{% endblock %}
